<p>
  users-list works!
</p>
<div class="table-wrapper">
  <table>
    <thead>
    <tr>
      <th>E-mail</th>
      <th>Name</th>
      <th>Type</th>
      <th>Company</th>
      <th>Country</th>
      <th>Subscription</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.email}}</td>
      <td><strong>{{user.firstName}}</strong> {{user.lastName}}</td>
      <td>{{user.subsType}}</td>
      <td>{{user.company}}</td>
      <td>{{user.country}}</td>
      <td>{{user.subsDate}}</td>
    </tr>
    </tbody>
  </table>
</div>

<button type="button" (click)="onLoadMore()">Load more</button>