<nav>
  <ul class="nav">
    <li routerLinkActive="active"><a [routerLink]="['/users-list']">Users list</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/daily']">Daily</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/brainstorm']">Brainstorm</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/course']">Course</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/leveling-system']">Leveling system</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/leave-streams']">Leave streams</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/advanced']">Advanced</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/video-analytics']">Video analytics</a></li>
  </ul>
</nav>
